body, html {
    height: 100%;
  }
  .bgl {
    background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-wwdc-21-stock-dark-mode-5k-2560x1440-5585.jpg");
    height: 100.3vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }